<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:switch="${parkings}">
		<h2 th:case="null">Pas de parkings pour l'instant !</h2>
		<div th:case="*">
			<h2>Mes parkings</h2>
			<table>
				<thead>
					<tr>
						<th>id</th>
						<th>adresse</th>
						<th>nbrePlaces</th>
						<th>tarifHoraire</th>
						<th>nombre de places disponible</th>
						<th>Modifier</th>
						<th>Effacer</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="parking : ${parkings}">
					<td th:text="${parking.idParking}"></td>
						<td th:text="${parking.adresse}"></td>
						<td th:text="${parking.nbrePlaces}"></td>
						<td th:text="${parking.tarifHoraire}"></td>
						<td th:text="${parking.nbrePlaces}"></td>
						
						<td><a th:href="@{/parking/edit/{id}(id=${parking.idParking})}">Modifier</a></td>
						<td><a
							th:href="@{/parking/delete/{id}(id=${parking.idParking})}">Effacer</a></td>
							
						<td><a th:href="@{/parking/seGarer/{id}(id=${parking.idParking})}">Se garer ici</a></td>	
							
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/parking/saisie">Ajouter un nouveau parking</a>
		</p>
	</div>
</body>
</html>