<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form 
  th:action="@{/parking/update/{id}(id=${parking.idParking})}" 
  th:object="${parking}" 
  method="post">
    <label for="adresse">Adresse</label>
    <input type="text" th:field="*{adresse}" id="adresse" placeholder="Adresse">
    <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></span>
    
    <label for="nbrePlaces">nbrePlaces</label>
    <input type="number" th:field="*{nbrePlaces}" id="nbrePlaces" placeholder="nombres de places">
    <span th:if="${#fields.hasErrors('nbrePlaces')}" th:errors="*{nbrePlaces}"></span>
    
     <label for="tarifHoraire">tarifHoraire</label>
    <input type="number" th:field="*{tarifHoraire}" id="tarifHoraire" placeholder="tarif">
    <span th:if="${#fields.hasErrors('tarifHoraire')}" th:errors="*{tarifHoraire}"></span>
    <input type="submit" value="Mise à jour">   
</form>
</body>
</html>